body,div{
margin:0;padding:0;
}
body {
background: #E9E9E9;
}
p{
font-size:18px;font-family:"Î¢ÈíÑÅºÚ";
}
#container {
margin:0 auto;padding-top:50px;text-align:center;width:560px;
}
#container img{
border:medium none;margin-bottom:30px;
}
#container .msg{
margin-bottom:24px;
}
#container .btn{
width:100px;height:20px;color:#0076ec;background:#fff;text-align:center;line-height:30px;text-decoration:none;border-radius:3px;
}
#container .btn:hover{
background:#14bee2;color:#fff;
}
#cloud {
width: 220px;
height: 180px;
background: #FFF;
margin:0px auto;
position: relative;
}
.frame{
	margin-left: 100px;
	margin-right: 100px;
}